@font-face{font-family:trajanpro-regular;src:url(../fonts/TrajanPro-Regular.otf)}@font-face{font-family:opensans-light;src:url(../fonts/OpenSans-Light.ttf)}@font-face{font-family:roboto-light;src:url(../fonts/Roboto-Light.ttf)}body{font-family:helvetica,arial,sans-serif;background-color:#fff}
h1{font-family:trajanpro-regular,sans-serif;font-size:1.688em}
h2{font-family:trajanpro-regular,sans-serif;font-size:1.2em}
h3{font-family:roboto-light,sans-serif;font-size:1.2em}
header .logo{position:relative}header .logo a{text-decoration:none}header .logo a:hover{text-decoration:none}
header .logo h1{letter-spacing:8.4px;color:#3f3d3d;text-transform:uppercase;margin-left:25px}
header .logo p{font-family:opensans-light,sans-serif;font-size:12px;margin-left:48px;color:#3f3d3d;text-transform:uppercase}
header .logo img{position:absolute;top:83%}
header .login-register-search{margin-top:23px}header .login-register-search .login-register ul{list-style:none;padding-left:0}header .login-register-search .login-register ul li{display:inline-block;margin-right:33px}header .login-register-search .login-register ul li a{color:#3f3d3d;text-transform:uppercase;font-size:.813em;font-family:roboto-light,sans-serif}
header .login-register-search .login-register ul li a.btn{padding:10px 20px 9px;border-radius:1px}
header .login-register-search .login-register ul li a.btn-default{border-color:#e5e4e2}
header .login-register-search .search input[type="text"]{border-color:#e5e4e2;border-radius:1px;font-size:.813em;font-family:roboto-light,sans-serif}
header .navbar-default{margin-top:5px;background-color:#f5f5f5}header .navbar-default a{font-size:.813em;font-family:roboto-light,sans-serif;color:#3f3d3d;text-transform:uppercase}
@media screen and (min-width:768px){header .navbar-collapse,header .container-fluid{padding-left:0}}
.title-a{width:100%;height:100%;display:block}
.body-content .title{background-color:#f6eddc;padding:5px 15px;position:relative;margin-top:15px;margin-bottom:15px}.body-content .title h2{margin-top:15px;font-weight:bold}
.body-content .title .arrows{position:absolute;top:20%;right:1.2%}.body-content .title .arrows .arrow-left{background-image:url(../images/left-arrow.png);background-repeat:no-repeat;background-position:center;width:30px;height:30px;background-color:#fff;border-radius:4px;display:inline-block;border:1px solid #e3e3e3}.body-content .title .arrows .arrow-left a{width:100%;height:100%;display:block}
.body-content .title .arrows .arrow-right{background-image:url(../images/right-arrow.png);background-repeat:no-repeat;background-position:center;width:30px;height:30px;background-color:#fff;border-radius:4px;display:inline-block;border:1px solid #e3e3e3}.body-content .title .arrows .arrow-right a{width:100%;height:100%;display:block}
.body-content .post{border:1px solid #ccc;margin-bottom:10px}.body-content .post img{width:100%;height:auto}
.body-content .post .description{padding-left:10px}.body-content .post .description span.money-type{color:#c8c8c8}
footer{margin-top:50px;padding-top:50px;background-color:#f8f8f8}footer .row h3{font-weight:bold;padding-bottom:20px;border-bottom:1px solid #b7b7b7}
footer .row ul{padding-left:10px;list-style-image:url(../../repository/images/ul-img.png)}footer .row ul li{padding:3px;margin-bottom:5px}footer .row ul li:last-child{margin-bottom:0}
footer .row .col-sm-3 p{line-height:22px}
footer .copyright{text-align:center;background-color:#ededed;margin-top:10px;padding:20px}footer .copyright p{margin:0}
.current-product .path-current-product{font-family:roboto-light,sans-serif}
.current-product .col-sm-7 .nav{margin-top:25px}
.current-product .col-sm-7 .tab-content{padding:10px}.current-product .col-sm-7 .tab-content p{font-family:verdana,sans-serif;font-size:1em;line-height:22px}
.current-product .col-sm-5 h2,.current-product .col-sm-5 p.current-cost{margin-top:0;font-weight:bold}
.current-product .col-sm-5 p.current-cost{margin-top:15px;padding-bottom:20px;border-bottom:1px solid #b7b7b7}
.current-product .col-sm-5 h3{text-transform:uppercase}
.current-product .title{background-color:#f6eddc;padding:5px 15px;position:relative;margin-top:15px;margin-bottom:15px}.current-product .title h2{margin-top:15px;font-weight:bold}
.current-product .title .arrows{position:absolute;top:20%;right:1.2%}.current-product .title .arrows .arrow-left{background-image:url(../images/left-arrow.png);background-repeat:no-repeat;background-position:center;width:30px;height:30px;background-color:#fff;border-radius:4px;display:inline-block;border:1px solid #e3e3e3}.current-product .title .arrows .arrow-left a{width:100%;height:100%;display:block}
.current-product .title .arrows .arrow-right{background-image:url(../images/right-arrow.png);background-repeat:no-repeat;background-position:center;width:30px;height:30px;background-color:#fff;border-radius:4px;display:inline-block;border:1px solid #e3e3e3}.current-product .title .arrows .arrow-right a{width:100%;height:100%;display:block}
.current-product .post{border:1px solid #ccc;margin-bottom:10px}.current-product .post img{width:100%;height:auto}
.current-product .post .description{padding-left:10px}.current-product .post .description span.money-type{color:#c8c8c8}
#login-dialog form .form-group,#register-dialog form .form-group{text-align:left}
.clear-left{clear:left}
.clear-right{clear:right}
.company-info h2{margin-right:10px}
.company-info h2,.company-info .rating{float:left;margin-top:20px}
.company-info .logo-image{margin-top:10px}.company-info .logo-image img{width:100%}
.company-info p{text-align:justify;padding:5px}
.company-info span{font-weight:bold;margin-left:5px}
@media screen and (min-width:768px){.company-info .logo-image{width:400px;height:300px}}
.company-categories .title{background-color:#f6eddc;padding:5px 15px;position:relative;margin-top:15px;margin-bottom:15px}.company-categories .title h2{margin-top:15px;font-weight:bold}
.company-categories .post{border:1px solid #ccc;margin-bottom:10px}.company-categories .post img{width:100%;height:auto}
.company-categories .post .description{padding-left:10px}.company-categories .post .description span.money-type{color:#c8c8c8}
.member{width:200px}.member .member-image{width:40px;height:40px;position:absolute}.member .member-image img{width:100%;height:auto}
.member p{margin-left:60px;font-family:trajanpro-regular,sans-serif;font-size:12px}
.profile-user-stuff .profile-image{width:100%}.profile-user-stuff .profile-image img{width:inherit}
.profile-user-stuff ul{list-style:none;padding:0;margin:0}
.profile-user-stuff .parent-list{font-family:'Adobe Fan Heiti Std';cursor:pointer}
.profile-user-stuff .parent-list>li{background-color:#e3e3e3;border-bottom:1px solid #c5c5c5;border-top:1px solid #fff;padding:10px}
.profile-user-stuff .grandchild-list>li{background-color:#3e3e3e;color:#fff;border-bottom:1px solid #fff;margin-top:5px;padding:7px 0 7px 25px}
.profile-user-stuff .active{text-decoration:underline}
.profile-user-stuff .profile-personal-info{padding:10px 30px}.profile-user-stuff .profile-personal-info fieldset{padding:0;margin:0;border-width:0;border-style:none;border-color:transparent}
.profile-user-stuff .profile-personal-info .btn{float:right}
#owl-demo .item{margin:10px;border:1px solid #ccc}#owl-demo .item img{width:100%;height:auto}
#owl-demo .item .description{padding-left:10px}#owl-demo .item .description span.money-type{color:#c8c8c8}
.product-list .title{background-color:#f6eddc;padding:5px 15px;position:relative;margin-top:15px;margin-bottom:15px}.product-list .title h2{margin-top:15px;font-weight:bold}
.product-list .col-sm-4:hover .edit-product{display:block}
.product-list .post{border:1px solid #ccc;margin-bottom:10px}.product-list .post img{width:100%;height:auto}
.product-list .post .description{padding-left:10px}.product-list .post .description span.money-type{color:#c8c8c8}
.edit-product{position:absolute;top:0;right:-10px;font-size:22px;display:none}
#login-dialog{display:none;animation-fill-mode:none;animation-duration:none}
#login-dialog.dialog--open{display:flex}
#register-dialog{display:none;animation-fill-mode:none;animation-duration:none}
#register-dialog.dialog--open{display:flex}
.dialog.dialog--open .dialog__content,.dialog.dialog--close .dialog__content,.dialog.dialog--open h2,.dialog.dialog--open button{-o-transition-property:none !important;-moz-transition-property:none !important;-ms-transition-property:none !important;-webkit-transition-property:none !important;transition-property:none !important;-o-transform:none !important;-moz-transform:none !important;-ms-transform:none !important;-webkit-transform:none !important;transform:none !important;-webkit-animation:none !important;-moz-animation:none !important;-o-animation:none !important;-ms-animation:none !important;animation:none !important}
.authenticate-form{float:none;margin:0 auto}
.input-icon{position:relative}.input-icon input{padding-left:25px}
.input-icon span{position:absolute;top:10px;left:6px;color:#5f5f5f;font-weight:100}
.col-centered{float:none;margin:0 auto}
.animated{-webkit-transition:height .2s;-moz-transition:height .2s;transition:height .2s}
.stars{font-size:24px;color:#e4ef40}
.star-btn{margin-top:20px}
.tags ul{padding-left:0}.tags ul li{display:inline-block;background:#eaeaea;padding:5px 10px;margin-right:5px;list-style-type:none;border-radius:10px;margin-bottom:5px}
.disabled{pointer-events:none}
.review-list ul{padding-left:20px}.review-list ul li{list-style-type:none;border-bottom:1px solid #ccc;margin:20px 0}.review-list ul li p{margin-left:5px;font-style:italic;clear:both;margin-bottom:20px}
.review-list ul li .user{font-weight:700;float:left;margin-right:10px}
.review-list .stars{float:left;margin-top:0;position:relative;top:-5px;margin-left:12px}
.glyphicon.active{color:#e4ef40}
.company-btn{float:right}
.delete-btn{margin-right:15px}
.rating-symbol{font-size:24px;color:#e4ef40;top:-5px}
.current-cost{font-family:roboto-light,sans-serif;font-size:24px}
.form-group{float:left;width:100%}
fieldset{float:left;width:100%}
.prev-images{padding-top:20px !important;float:left;width:100%}.prev-images li{position:relative;margin-right:10px;float:left;max-width:150px}.prev-images li:hover .remove-img{transition:.2s ease;opacity:1}
.prev-images li .remove-img{transition:.2s ease;opacity:0;position:absolute;top:-9px;right:-9px;z-index:100000;color:#d9534f;font-size:20px}.prev-images li .remove-img:hover{text-decoration:none}
.prev-images li .img-container{width:150px;height:80px;overflow:hidden}
.prev-images li img{width:100%}
.result-title{margin-bottom:30px;margin-top:10px}
.col-sm-3:nth-child(4n+1){clear:both}
.review-list li:hover .delete-comment{display:block}
.delete-comment{background:transparent;padding:0;color:#c94e50;float:left;font-size:17px;margin-right:6px;display:none}
table form{float:left;margin-right:5px}
