/* COSTUM FONTS --------------------------------------- */

@font-face {
  font-family: trajanpro-regular;
  src: url(../fonts/TrajanPro-Regular.otf);
}

@font-face {
  font-family: opensans-light;
  src: url(../fonts/OpenSans-Light.ttf);
}

@font-face {
  font-family: roboto-light;
  src: url(../fonts/Roboto-Light.ttf);
}

/* End of COSTUM FONTS --------------------------------------- */

.costum-font(@font-family,@font-size) {
  font-family: @font-family, sans-serif;
  font-size: @font-size;
}

body {
  font-family: helvetica, arial, sans-serif;
  background-color: #fff;
}

h1 {
  .costum-font(trajanpro-regular, 1.688em);
}

h2 {
  .costum-font(trajanpro-regular, 1.2em);
}

h3 {
  .costum-font(roboto-light, 1.2em);
}

/* HEADER ----------------------------------------------- */

@logo-font-color: #3f3d3d;
@text-transform: uppercase;
@forms-border-color: #e5e4e2;
@forms-border-radius: 1px;

.header-mixin(@color: @logo-font-color, @text-transform: @text-transform) {
  color: @color;
  text-transform: @text-transform;
}

.forms-mixin(@font-size: 0.813em; @font-family: roboto-light) {
  font-size: @font-size;
  font-family: @font-family, sans-serif;
}

header {
  .logo {
    position: relative;
    a {
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }
    h1 {
      letter-spacing: 8.4px;
      .header-mixin();
      margin-left: 25px;
    }

    p {
      font-family: opensans-light, sans-serif;
      font-size: 12px;
      margin-left: 48px;
      .header-mixin
    }

    img {
      position: absolute;
      top: 83%;
    }
  }

  .login-register-search {
    margin-top: 23px;

    .login-register {
      ul {
        list-style: none;
        padding-left: 0px;

        li {
          display: inline-block;
          margin-right: 33px;

          a {
            .header-mixin;
            .forms-mixin;
          }

          a.btn {
            padding: 10px 20px 9px;
            border-radius: @forms-border-radius;
          }

          a.btn-default {
            border-color: @forms-border-color;
          }
        }
      }
    }

    .search {
      input[type="text"] {
        border-color: @forms-border-color;
        border-radius: @forms-border-radius;
        .forms-mixin;
      }
    }
  }

  .navbar-default {
    margin-top: 5px;
    background-color: #f5f5f5;

    a {
      .forms-mixin;
      .header-mixin;
    }
  }

  @media screen and (min-width: 768px) {
    .navbar-collapse,
    .container-fluid {
      padding-left: 0px;
    }
  }

}

/* End of HEADER ----------------------------------------------- */

/* CONTENT ----------------------------------------------- */

@title-bg-color: #f6eddc;

.arrow(@path) {
  background-image: @path;
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 4px;
  display: inline-block;
  border: 1px solid #e3e3e3;
}

.title-a {
  width: 100%;
  height: 100%;
  display: block;
}

.body-content {

  .title {
    background-color: @title-bg-color;
    padding: 5px 15px;
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;

    h2 {
      margin-top: 15px;
      font-weight: bold;

    }

    .arrows {
      position: absolute;
      top: 20%;
      right: 1.2%;

      .arrow-left {
        .arrow(url(../images/left-arrow.png));

        a {
          .title-a;
        }
      }

      .arrow-right {
        .arrow(url(../images/right-arrow.png));

        a {
          .title-a;
        }
      }
    }
  }

  .post {
    border: 1px solid #ccc;
    margin-bottom: 10px;

    img {
      width: 100%;
      height: auto;
    }

    .description {
      padding-left: 10px;

      span.money-type {
        color: rgb(200, 200, 200);
      }
    }
  }
}

/* End of CONTENT ----------------------------------------------- */

/* FOOTER ----------------------------------------------- */

footer {
  margin-top: 50px;
  padding-top: 50px;
  background-color: #f8f8f8;

  .row {
    h3 {
      font-weight: bold;
      padding-bottom: 20px;
      border-bottom: 1px solid #b7b7b7;
    }

    ul {
      padding-left: 10px;
      list-style-image: url(../../repository/images/ul-img.png);

      li {
        padding: 3px;
        margin-bottom: 5px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .col-sm-3 {
      p {
        line-height: 22px;
      }
    }
  }

  .copyright {
    text-align: center;
    background-color: #ededed;
    margin-top: 10px;
    padding: 20px;

    p {
      margin: 0;
    }
  }
}

/* End of FOOTER ----------------------------------------------- */

/**************************************************************/
/************************PRODUCT PAGE**************************/

/* current-product ----------------------------------------------*/

.current-product {
  .path-current-product {
    font-family: roboto-light, sans-serif;
  }

  .col-sm-7 {
    .nav {
      margin-top: 25px;
    }
    .tab-content {
      padding: 10px;

      p {
        .costum-font(verdana, 1em);
        line-height: 22px;
      }
    }
  }

  .col-sm-5 {
    h2, p.current-cost {
      margin-top: 0;
      font-weight: bold;
    }

    p.current-cost {
      margin-top: 15px;
      padding-bottom: 20px;
      border-bottom: 1px solid #b7b7b7;
    }

    h3 {
      text-transform: @text-transform;
    }
  }

  .title {
    background-color: @title-bg-color;
    padding: 5px 15px;
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;

    h2 {
      margin-top: 15px;
      font-weight: bold;

    }

    .arrows {
      position: absolute;
      top: 20%;
      right: 1.2%;

      .arrow-left {
        .arrow(url(../images/left-arrow.png));

        a {
          .title-a;
        }
      }

      .arrow-right {
        .arrow(url(../images/right-arrow.png));

        a {
          .title-a;
        }
      }
    }
  }

  .post {
    border: 1px solid #ccc;
    margin-bottom: 10px;

    img {
      width: 100%;
      height: auto;
    }

    .description {
      padding-left: 10px;

      span.money-type {
        color: rgb(200, 200, 200);
      }
    }
  }
}

/* End of Product Page -------------------------------------- */

/************************* LOGIN FORM + REGISTER FORM *************************/

#login-dialog, #register-dialog {

  form {
    .form-group {
      text-align: left;
    }
  }
}

/* End of LOGIN + REGISTER FORMS -------------------------------------- */

/********************* COMPANY PAGE *********************/

.clear-left {
  clear: left;
}

.clear-right {
  clear: right;
}

.company-info {
  h2 {
    margin-right: 10px;
  }

  h2, .rating {
    float: left;
    margin-top: 20px;
  }

  .logo-image {
    margin-top: 10px;

    img {
      width: 100%;
    }
  }

  p {
    text-align: justify;
    padding: 5px;
  }

  span {
    font-weight: bold;
    margin-left: 5px;
  }

  @media screen and (min-width: 768px) {

    .logo-image {
      width: 400px;
      height: 300px;
    }
  }
}

.company-categories {

  .title {
    background-color: @title-bg-color;
    padding: 5px 15px;
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;

    h2 {
      margin-top: 15px;
      font-weight: bold;
    }
  }

  .post {
    border: 1px solid #ccc;
    margin-bottom: 10px;

    img {
      width: 100%;
      height: auto;
    }

    .description {
      padding-left: 10px;

      span.money-type {
        color: rgb(200, 200, 200);
      }
    }
  }
}

/* End of Company Page --------------------------------------*/

/************************* PROFILE USER PAGE ********************************/

@white-color: #fff;
@li-border: 1px solid @white-color;

.member {
  width: 200px;
  .member-image {
    width: 40px;
    height: 40px;
    position: absolute;

    img {
      width: 100%;
      height: auto;
    }
  }

  p {
    margin-left: 60px;
    font-family: trajanpro-regular, sans-serif;
    font-size: 12px;
  }

}

.profile-user-stuff {

  .profile-image {
    width: 100%;
    img {
      width: inherit;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .parent-list {
    font-family: 'Adobe Fan Heiti Std';
    cursor: pointer;
  }

  .parent-list > li {
    background-color: #e3e3e3;
    border-bottom: 1px solid #c5c5c5;
    border-top: @li-border;
    padding: 10px;

  }

  .grandchild-list > li {
    background-color: #3e3e3e;
    color: @white-color;
    border-bottom: @li-border;
    margin-top: 5px;
    padding: 7px 0 7px 25px;
  }

  .active {
    text-decoration: underline;
  }

  .profile-personal-info {
    padding: 10px 30px;

    fieldset {
      padding: 0;
      margin: 0;
      border-width: 0;
      border-style: none;
      border-color: transparent;
    }

    .btn {
      float: right;
    }
  }
}

/***************** OWL SLIDER **************************/

#owl-demo {
  .item {
    margin: 10px;
    border: 1px solid #ccc;

    img {
      width: 100%;
      height: auto;
    }

    .description {
      padding-left: 10px;

      span.money-type {
        color: rgb(200, 200, 200);
      }
    }
  }
}

/*************** END OF OWL SLIDER ********************/

/********************** USER COMPANY *********************/

.product-list {
  .title {
    background-color: @title-bg-color;
    padding: 5px 15px;
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;

    h2 {
      margin-top: 15px;
      font-weight: bold;

    }
  }
  .col-sm-4 {
    &:hover {
      .edit-product {
        display: block;
      }
    }

  }

  .post {
    border: 1px solid #ccc;
    margin-bottom: 10px;

    img {
      width: 100%;
      height: auto;
    }

    .description {
      padding-left: 10px;

      span.money-type {
        color: rgb(200, 200, 200);
      }
    }
  }
}

.edit-product {
  position: absolute;
  top: 0;
  right: -10px;
  font-size: 22px;
  display: none;
}

#login-dialog {
  display: none;
  animation-fill-mode: none;
  animation-duration: none;
}

#login-dialog.dialog--open {
  display: flex;
}

#register-dialog {
  display: none;
  animation-fill-mode: none;
  animation-duration: none;
}

#register-dialog.dialog--open {
  display: flex;
}

.dialog.dialog--open .dialog__content, .dialog.dialog--close .dialog__content, .dialog.dialog--open h2, .dialog.dialog--open button {
  /*CSS transitions*/
  -o-transition-property: none !important;
  -moz-transition-property: none !important;
  -ms-transition-property: none !important;
  -webkit-transition-property: none !important;
  transition-property: none !important;
  /*CSS transforms*/
  -o-transform: none !important;
  -moz-transform: none !important;
  -ms-transform: none !important;
  -webkit-transform: none !important;
  transform: none !important;
  /*CSS animations*/
  -webkit-animation: none !important;
  -moz-animation: none !important;
  -o-animation: none !important;
  -ms-animation: none !important;
  animation: none !important;
}

.authenticate-form {
  float: none;
  margin: 0 auto;
}

.input-icon {
  position: relative;

  input {
    padding-left: 25px;
  }
  span {
    position: absolute;
    top: 10px;
    left: 6px;
    color: #5F5F5F;
    font-weight: 100;
  }
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.animated {
  -webkit-transition: height 0.2s;
  -moz-transition: height 0.2s;
  transition: height 0.2s;
}

.stars {
  font-size: 24px;
  color: #E4EF40;
}

.star-btn {
  margin-top: 20px;
}

.tags {
  ul {
      padding-left: 0;
    li {
      display: inline-block;
      background: #EAEAEA;
      padding: 5px 10px;
      margin-right: 5px;
      list-style-type: none; 
      border-radius: 10px;
      margin-bottom: 5px;
    }
  }
}

.disabled {
  pointer-events: none;
}

.review-list {
    ul {
        padding-left: 20px;
        li {
            list-style-type: none;
            border-bottom: 1px solid #ccc;
            margin: 20px 0;
            p {
                margin-left: 5px;
                font-style: italic;
                clear: both;
                margin-bottom: 20px;
            }
            .user {
                font-weight: 700;
                float: left;
                margin-right: 10px;
            }
        }
    }
    
  
  .stars {
    float: left;
    margin-top: 0px;
    position: relative;
    top: -5px;
    margin-left: 12px;
  }
}

.glyphicon.active {
  color: #E4EF40;
}

.company-btn {
  float: right;
}

.delete-btn {
    margin-right: 15px;
}

.rating-symbol {
    font-size: 24px;
  color: #e4ef40;
  top: -5px;
}
.current-cost {
    font-family: roboto-light,sans-serif;
    font-size: 24px;
}
.form-group {
    float: left;
    width: 100%;
}
fieldset {
  float: left;
  width: 100%;
}
.prev-images {
    padding-top: 20px !important;
    float: left;
    width: 100%;
    li {
        position: relative;
        margin-right: 10px;
        &:hover {
            .remove-img {
                transition: 0.2s ease;

                opacity: 1;
            }
        }
        .remove-img {
            transition: 0.2s ease;

            opacity: 0;
            position: absolute;
            top: -9px;
            right: -9px;
            z-index: 100000;
            color: rgb(217, 83, 79);
            font-size: 20px;
            &:hover {
                text-decoration: none;
            }
        }
        .img-container {
            width: 150px;
            height: 80px;
            overflow: hidden;
        }
        float: left;
        max-width: 150px;
        img { width: 100%;}
    }
}

.result-title {
    margin-bottom: 30px;
    margin-top: 10px;
}
.col-sm-3 {
    &:nth-child(4n+1) {
        clear: both;
    }
}
.review-list {
    li {
        &:hover {
            .delete-comment {
                display: block;
            }
        }
    }
}
.delete-comment {
    background: transparent;
    padding: 0;
    color: #c94e50; 
    float: left;
    font-size: 17px;
    margin-right: 6px;
    display: none;
}
table {
    form {
        float: left;
        margin-right: 5px;
    } 
}

